<phpunit colors="true"
         bootstrap="vendor/photon/photon/src/photon/testbootstrap.php"
>
    <testsuites>
        <testsuite name="Auth MongoDB Backend Tests">
             <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <coverage
      cacheDirectory=".report-cache"
      includeUncoveredFiles="true"
      processUncoveredFiles="true"
      pathCoverage="false"
      ignoreDeprecatedCodeUnits="true"
      disableCodeCoverageIgnore="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="report" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>

    <php>
        <env name="photon.config" value="config.test.php"/>
    </php>
</phpunit>
